@tailwind base;
@tailwind components;
@tailwind utilities;
.toggle-button {
    position: fixed;
    top: 4px;
    right: 4px;
    padding: 2px;
    background-color: white;
    color: #ff69b4;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #ffb6c1;
}